body{
  width:700px;
  padding:1rem;
}

h3{
  padding:0.5rem;
  margin-top:0px;
}

.table{
  margin-bottom:0px;
}

table{
  margin-bottom:0px;
}

.form-control{
  width: 90px;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 9px;
}